body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff9ebc, #ff4e8a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.container {
  padding: 20px;
}

.question {
  font-size: 24px;
  margin-bottom: 30px;
  animation: fadeIn 1.5s ease;
}

button {
  padding: 14px 28px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: white;
  color: #ff4e8a;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.video-wrapper {
  position: fixed;
  inset: 0;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: black;
}


#replayBtn {
  display: none;
  margin-top: 30px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

#continueBtn {
  display: none;
  margin-top: 20px;
  background: linear-gradient(45deg, #ff4e8a, #ff9ebc);
  color: white;
}

#continueBtn:hover {
  transform: scale(1.08);
}
